<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.peerhealthexchange.phemobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="org.peerhealthexchange.phemobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.peerhealthexchange.phemobile.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDHd06wzrlLw6wkgxvbBmfIEViUnH9XX44" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="org.peerhealthexchange.phemobile.StartUp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="StudentStartUp" >
        </activity>
        <activity android:name="teacher_login" >
        </activity>
        <activity android:name="discussion_board" >
        </activity>
        <activity android:name="faq" >
        </activity>
        <activity android:name="activities" >
        </activity>
        <activity android:name="resources" >
        </activity>
        <activity android:name="location" >
        </activity>
        <activity android:name="videos" >
        </activity>
        <activity android:name="faq_info_page" >
        </activity>
        <activity android:name="Flash" >
        </activity>
        <activity android:name="Flashcards" >
        </activity>
        <activity android:name="Messages" >
        </activity>
        <activity android:name="new_post" >
        </activity>
        <activity android:name="MessageHistory" >
        </activity>
        <activity android:name="TeacherStartUp" >
        </activity>
        <activity android:name="alcohol_videos" >
        </activity>
        <activity android:name="eatingdisorder_videos" >
        </activity>
        <activity android:name="glbt_videos" >
        </activity>
        <activity android:name="fitness_videos" >
        </activity>
        <activity android:name="health_videos" >
        </activity>
        <activity android:name="nutrition_videos" >
        </activity>
        <activity android:name="answer_cards" >
        </activity>
        <activity android:name="question_cards" >
        </activity>
        <activity android:name="hotlines" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.peerhealthexchange.phemobile" />
            </intent-filter>
        </receiver>
        <activity android:name="hospitalPage"></activity>
    </application>

</manifest>